<html>
    <head>
        <title>Barbarian Bob's Test blog</title>
    </head>
    <body>
		<div> 
			<h1><a href="">Barbarian Bob's hectic Blog</a></h1>
		</div>
		
		<div> 
			<p>published: 01.04.2016, 12:00</p>
            <h2><a href="">Bob's post</a></h2>
			<p>Bob says "Bar Bar Bar"</p>            
		</div>
		
		<div> 
			<p>published: 01.04.2016, 12:15</p>
            <h2><a href="">Bob's second post</a></h2>
			<p>Bob says "Bar Bar Bar?"... Bob's fuddy says "Nor...Far Offar..you Car"</p>            
		</div>
		
    </body>
</html>